[Unit]
Description=Data export from Favimat by JSC Komitex
After=gtm.service
BindsTo=gtm.service

[Service]
Type=simple
User=gtm
Group=gtm
WorkingDirectory=/usr/pfs
ExecStart=
ExecStart=/usr/gtm/adm/inotify/favimat
Restart=on-failure

[Install]
WantedBy=multi-user.target
